<!-- Listado Aliados Claro Empresas y Negocios -->
<datalist id="crud_Estado_Usuarios_CRMEYN">
    <option value="Activo">Activo en la Campaña</option>
    <option value="Inactivo">Retiro, Cambio Campaña etc...</option>
</datalist>
<!-- end Listado Aliados Claro Empresas y Negocios -->

<!-- Áreas Internas de Gestión -->
<datalist id="crud_areas_internas_gestion">
    <option value="SAC"></option>
</datalist>
<!-- Fin Áreas Internas de Gestión -->

<!-- Áreas Internas de Gestión ADMIN -->
<datalist id="crud_areas_internas_gestion_Administrador">
    <option value="Administrador"></option>
    <option value="SAC"></option>
</datalist>
<!-- Fin Áreas Internas de Gestión -->

<!-- Roles internos -->
<datalist id="crud_rol_internos">
    <option value="Supervisor">Supervisor</option>
    <option value="Agente">Agente</option>
</datalist>
<!-- Fin Roles internos -->

<!-- Roles internos ADMIN -->
<datalist id="crud_rol_internos_Administrador">
    <option value="Administrador">Administrador</option>
    <option value="Cajero">Cajero</option>
    <option value="Mesero">Mesero</option>
</datalist>
<!-- Fin Roles internos -->

<datalist id="crud_Estado_Invetario">
    <option value="Activo">Activo</option>
    <option value="Inactivo">Inactivo</option>
</datalist>

<datalist id="crud_Ubicaciones">
    <option value="Suba">Suba</option>
    <option value="Centro">Centro</option>
    <option value="Norte">Norte</option>
</datalist>